*{
  margin: 0;
  padding: 0;
}
body{
  background-color: aquamarine;
  padding: 10% 20%;
}
div{
  background-color: aliceblue;
  /* height: 10rem; */
  border-radius: 20px;
  color: cornflowerblue;
  margin-bottom: 20rem;
  text-align: center;
  /* padding: 20% 0; */
}
